body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
  margin-top: 50px;
}
input, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}
#ketqua p {
  background: white;
  border-radius: 5px;
  margin: 8px auto;
  width: 300px;
  padding: 8px;
  box-shadow: 0 0 5px #ccc;
}
